 <h1>Product Details:</h1>
      <p>ASIN: ${{product.asin}}</p>
      <p>Title: ${{product.title}}</p>
      <p>Image URL: ${{product.imgUrl}}</p>
      <img src="{{ product.imgUrl }}" alt="{{ product.title }}" style="max-width: 320px;">
      <p>Stars: ${{product.stars}}</p>
      <p>Reviews: ${{product.reviews}}</p>
      <p>Price: ${{product.price}}</p>
      <p>List Price: ${{product.listPrice}}</p>
      <p>Category Name: ${{product.categoryName}}</p>
      <p>Is Best Seller: ${{product.isBestSeller}}</p>
      <p>Bought In Last Month: ${{product.boughtInLastMonth}}</p>
 